%% -*- erlang -*-

{erl_opts, [ bin_opt_info
           , debug_info
           , warn_unused_vars
           , warn_export_all
           , warn_shadow_vars
           , warn_unused_import
           , warn_unused_function
           , warn_bif_clash
           , warn_unused_record
           , warn_deprecated_function
           , warn_obsolete_guard
           , strict_validation
           , warn_export_vars
           , warn_exported_vars
           , fail_on_warning
           , warn_untyped_record
           , debug_info
           ]}.

{erl_first_files, []}.

{minimum_otp_vsn, "2+"}.
{require_otp_vsn, "2+"}.

{pre_hooks,  [
  {"(freebsd|netbsd|openbsd)", compile, "gmake -C c_src"},
  {"(linux|darwin|solaris)",   compile, "make -C c_src"}
]}.

{post_hooks, [
  {"(freebsd|netbsd|openbsd)", clean, "gmake -C c_src clean"},
  {"(linux|darwin|solaris)",   clean, "make -C c_src clean"}
]}.
